/* src/components/Card.css */

/* Container for card with 3D perspective */


.card {
    perspective: 1500px; /* Adds depth to the flip effect */
    width: 100%; /* 100% of the parent container's width */
    height: 100%; /* 100% of the parent container's height */
    padding: 15px;
}

/* Front side of the card (visible initially) */
.card-front,
.card-back {
    perspective: 1500px; /* Adds depth to the flip effect */
    position: absolute;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    left: 25%; /* Centers the card (used to be right side of card to center) */
    height: 100%;
    backface-visibility: hidden; /* Hides the back face during flip */
    transition: transform 0.3s ease-in-out;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical center */
    align-items: center;     /* horizontal center */
    justify-content: space-between;

}

.card-back.flipped, .card-front.flipped{
    transform: rotateY(180deg); /* Initially hide the back */
}

/* Backside of the card */
.card-back {    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Hover effect for the card */
.card-front:hover,.card-back:hover {
    transform: translateY(-10px);
    animation: pulse 2s ease-in-out infinite; /* Infinite pulse animation */
    border: 2px solid #5db1de; /* Border appears with color when hovered */
    opacity: 1; /* Change opacity to 1 when hovering */
    transform-origin: center; /* Set the rotation origin to the center */
    box-shadow: 0 4px 5px rgb(155, 233, 255); /* Adds a shadow when hovered */
}

/* Disable hover effects when card is flipped */
.card-front.flipped:hover, .card-back.flipped:hover {
    transform: none; /* No hover transformation */
    animation: none; /* Remove hover animation */
    border: none; /* Remove border */
    box-shadow: none; /* Remove box shadow */
    transform: rotateY(180deg); /* Initially hide the back */
}



/* Pulse animation */
@keyframes pulse {
    0% {
    transform: scale(1);
    }
    50% {
    transform: scale(1.01);
    }
    100% {
    transform: scale(1);
    }
}



/* Card image */
.card-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Card content */
.card-content {
    padding: 16px;
}

/* Title and description */
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 8px 0;
}

.card-description {
    font-size: 1rem;
    margin-bottom: 16px;
    color: #555;
}

/* Button styling */
.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}


.card-back-content {
    /* Style the content on the back of the card */
    width: 100%;
    height: 100%;
}





